<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.vertx" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.hazelcast" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.mchange.v2" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.netty" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="log4jdbc.debug" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="jdbc.sqlonly" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="jdbc.audit" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="jdbc.resultset" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>